<%= link_to "#{meeting.title}", meeting_path(meeting) %>
<%= Meeting.format_timestamp(meeting.start_time) %>
<%= meeting.duration_formatted %>

<% if meeting.is_done %>
  <span id="meeting-finished"><b>Closed</b></span>
<% end %>

<br>

<% if current_user == meeting.creator %>
  <% if !meeting.is_done %>
    <% if !meeting.is_live %>
      <%= link_to "Start", meeting_path(meeting, start: true), method: :patch %> |
    <% else %>
      Live now! |
    <% end %>
  	<%= link_to "Duplicate", new_meeting_path(id: meeting.id) %> | 
  	<%= link_to "Edit", edit_meeting_path(meeting) %> |
  	<%= link_to "Delete", meeting_path(meeting), method: :delete %>
  <% else %>
    <%= link_to "Duplicate", new_meeting_path(id: meeting.id) %>
  <% end %>
<% else %>
  <% if !meeting.is_done %>
  	<%= link_to "Decline", meeting_invite_path(meeting, Invite.where(invitee_id: current_user.id, meeting_id: meeting.id)[0]), method: :delete %>
  <% end %>
<% end %>

<br>
<br>