<%= link_to "#{meeting.title}", meeting_path(meeting) %>
<%= Meeting.format_timestamp(meeting.start_time) %>
<%= meeting.duration_formatted %>
<% if meeting.is_done %>
  <span id="meeting-finished">Closed</span>
<% end %>
<%= link_to "Follow Up / Schedule again", new_meeting_path(id: meeting.id) %> | 
<%= link_to "Edit", edit_meeting_path(meeting) %> |
<%= link_to "Delete", meeting_path(meeting), method: :delete %>
<br>
