<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "flash #{name}"%>
<% end %>


<div id="meeting-form">
  <%= render "underscore_templates" %>

  <%= form_for @meeting do |f| %>
    <%= f.text_field :title, placeholder: 'Title', class: 'form-control' %><br>

    <%= f.text_field :location, placeholder: 'Location', class: 'form-control' %><br>

    <%= f.text_area :description, placeholder: 'Description', class: 'form-control', rows: '4' %>


    <br><br><br>

    Add meeting members by e-mail:
    <div id='contacts-search' data-control="multisearch"></div>


    <br><br><br>

    <%= render "timezone_select" %><br>



    <div class='wrap-center'>
      <input id='datetimepicker_start' placeholder='Start time' type='datetime' class="form-control datetime" name="meeting[start_time]" value="<%= @meeting.format_to_local_time(@meeting.start_time) %>"/>

      <span id='right-arrow'><%= fa_icon 'long-arrow-right' %></span>
      <span id='down-arrow'><%= fa_icon 'long-arrow-down' %></span>

      <input id='datetimepicker_end' placeholder='End time'  type='datetime' class="form-control datetime" name="meeting[end_time]" value="<%= @meeting.format_to_local_time(@meeting.end_time) %>"/>
    </div>

    <br>
    <br>

    <%= button_tag "Submit" %>
  <% end %>
</div>

