<div id="meeting-form">
  <%= render "underscore_templates" %>

  <%= form_for @meeting do |f| %>
    <%= f.text_field :title, placeholder: 'Title', class: 'form-control' %><br>

    <%= f.text_field :location, placeholder: 'Location (optional)', class: 'form-control' %><br>

    <%= f.text_area :description, placeholder: 'Description (optional)', class: 'form-control', rows: '4' %>


    <br><br><br>
    
    <p class='information'>To add members, type in their e-mail and hit enter:</p>
    <%= render "add_contacts" %>

    <br><br><br>

    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, { default: @time_zone }, { class: "form-control" } %><br>

    <div class='wrap-center'>
      <input id='datetimepicker_start' placeholder='Start time' type='datetime' class="form-control datetime" name="meeting[start_time]" value="<%= @meeting.format_to_local_time(@meeting.start_time) %>"/>

      <span id='right-arrow'><%= fa_icon 'long-arrow-right' %></span>
      <span id='down-arrow'><%= fa_icon 'long-arrow-down' %></span>

      <input id='datetimepicker_end' placeholder='End time'  type='datetime' class="form-control datetime" name="meeting[end_time]" value="<%= @meeting.format_to_local_time(@meeting.end_time) %>"/>
    </div>

    <br><br><br>
      <p class='information'>This will integrate with your Google Calendar.</p>
    <br>

    <%= button_tag "Create meeting" %>
  <% end %>
</div>

