<%= render "underscore_templates" %>
<%= render "add_contacts" %>

<%= form_for @meeting do |f| %>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br>

  <%= f.label :location %><br>
  <%= f.text_field :location %><br>

  <%= f.label :description %><br>
  <%= f.text_area :description %><br>

  <label for="meeting_time_zone">Time zone</label><br>
  <select id="meeting_time_zone" name="meeting[time_zone]">
    <option disabled="disabled" value="">-------------</option>
    <option value="Hawaii">(GMT-10:00) Hawaii</option>
    <option value="Alaska">(GMT-09:00) Alaska</option>
    <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
    <option value="Arizona">(GMT-07:00) Arizona</option>
    <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
    <option value="Central Time (US &amp; Canada)">(GMT-06:00) Central Time (US &amp; Canada)</option>
    <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
    <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
    <option disabled="disabled" value="">-------------</option>
  </select>

  <%= f.label :meeting_Time %><br>
  <div class="container">
      <div class="col-sm-6" style="height:75px;">
       <div class='col-md-5'>
        <div class="form-group">
          <div class='input-group date' id='datetimepicker_start'>
            <input type='text' class="form-control" name="meeting[start_time]" value="<%= @meeting.start_time %>"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>

      <div class='col-md-2'>
        <span class="glyphicon glyphicon-arrow-right"></span>
      </div>

      <div class='col-md-5'>
        <div class="form-group">
          <div class='input-group date' id='datetimepicker_end'>
            <input type='text' class="form-control" name="meeting[end_time]"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= button_tag "Submit" %>
<% end %>
