<%= link_to "#{meeting.title}", meeting_path(meeting) %>
<%= Meeting.format_timestamp(meeting.start_time) %>
<%= meeting.duration_formatted %>
<% if meeting.is_done %>
  <span id="meeting-finished">Closed</span>
<% end %>
<% if current_user == meeting.creator %>
	<%= link_to "Follow Up / Schedule again", new_meeting_path(id: meeting.id) %> | 
	<%= link_to "Edit", edit_meeting_path(meeting) %> |
	<%= link_to "Delete", meeting_path(meeting), method: :delete %>
<% else %>
	<%= link_to "Decline", meeting_invite_path(meeting, Invite.where(invitee_id: current_user.id, meeting_id: meeting.id)[0]), method: :delete %>
<% end %>
<br>