<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: name %>
<% end %>

<%= render "underscore_templates" %>
<%= render "add_contacts" %>

<%= form_for @meeting do |f| %>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br>

  <%= f.label :location %><br>
  <%= f.text_field :location %><br>

  <%= f.label :description %><br>
  <%= f.text_area :description %><br>

  <%= render "timezone_select" %><br>

  <%= f.label :meeting_time %><br>
  <div class="container">
      <div class="col-sm-6" style="height:75px;">
       <div class='col-md-5'>
        <div class="form-group">
          <div class='input-group date' id='datetimepicker_start'>
            <input type='datetime' class="form-control" name="meeting[start_time]" value="<%= @meeting.format_to_local_time(@meeting.start_time) %>"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>

      <div class='col-md-2'>
        <span class="glyphicon glyphicon-arrow-right"></span>
      </div>

      <div class='col-md-5'>
        <div class="form-group">
          <div class='input-group date' id='datetimepicker_end'>
            <input type='datetime' class="form-control" name="meeting[end_time]" value="<%= @meeting.format_to_local_time(@meeting.end_time) %>"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= button_tag "Submit" %>
<% end %>
