<div class = "container">

  <h1><%= @meeting.title %></h1>
  <h2><small><%= Meeting.format_timestamp @meeting.start_time %></small></h2>

  <% if !@meeting.is_done %>
    <button><%= link_to "Close Meeting", meeting_path(@meeting, close: true), method: :patch, id: "close-meeting" %></button>
  <% end %>

  <br><br><br>

  <h2>Agenda Topics</h2>
  <div id="agendas">
    <%= render @meeting.agenda_topics.order('updated_at DESC') %>
  </div>

   <% if !@meeting.is_done %>

    <%= form_for [@meeting, AgendaTopic.new], remote: true do |f| %>
      <%= f.text_field :content %>
    <%= f.submit "Send" %>
    <% end %>

   <% end %>

  <h2>Actionables</h2>
  <div id="actionables">
    <%= render @meeting.actionables.order('created_at ASC') %>
  </div>

  <% if !@meeting.is_done %>
    <%= form_for [@meeting, Actionable.new], remote: true do |f| %>
      <%= f.text_field :content %>
      <%= f.submit "Send" %>
    <% end %> 
  <% end %>
  <span id="actionables-error"></span>

  <h2>Notes</h2>
  <% if !@meeting.is_done %>
    <div id = "notes" contenteditable = 'true'><%= render partial: "notes" %></div>
  <% else %>
    <div id = "notes"><%= render partial: "notes" %></div>
  <% end %>

  <div id = "invitees">
    <h3>Members</h3>
    <%= render partial: "invitees" %>
  </div>
  
  <% if !@meeting.is_done %>
    <%= subscribe_to "/meetings/#{@meeting.id}" %>
  <% end %>

  <span id="meeting-id"><%= @meeting.id %></span>

</div>