<div class='container'>

  <h1><%= @meeting.title %></h1>
  <h2><small><%= Meeting.format_timestamp @meeting.start_time %></small></h2>

  <% if !@meeting.is_done %>
    <button><%= link_to "Close Meeting", meeting_path(@meeting, close: true), method: :patch %></button>
  <% end %>

  <br><br><br>


  <h2>Agenda Topics</h2>

  <div id="agendas">
    <%= render @meeting.agenda_topics.order('updated_at DESC') %>
  </div>

  <% if !@meeting.is_done %>
    <%= link_to "Add agenda item", new_meeting_agenda_topic_path(@meeting), remote:true, id: "new-agenda-link" %>
  <% end %>

  <div id="new-agenda-form"></div>
  <span id="agenda-error"></span>

  <h2>Actionables</h2>
  <div id="actionables">
    <%= render @meeting.actionables.order('updated_at DESC') %>
  </div>

  <% if !@meeting.is_done %>
    <%= form_for [@meeting, Actionable.new], :html => {:remote => true} do |f| %>
      <%= f.text_field :content %>
      <%= f.submit "Send" %>
    <% end %> 
  <% end %>
  <span id="actionables-error"></span>

  <h2>Notes</h2>

  <span id="meeting-id"><%= @meeting.id %></span>
  <% if !@meeting.is_done %>
    <%= subscribe_to "/meetings/#{@meeting.id}/actionables" %>
  <% end %>
</div>