<div class = "actionable" id = "<%= actionable.id %>">
  <% if !actionable.meeting.is_done %>
    <div class = "editable" contenteditable = 'true'><%= actionable.content %></div>
  <% else %>
    <div class = "editable"><%= actionable.content %></div>
  <% end %>

  <% if !actionable.meeting.is_done %>
    <%= link_to("Delete", meeting_actionable_path(actionable.meeting, actionable), class: "delete_actionable", method: :delete, remote: true, data: {confirm: "are u sure bro"}) %>
  <% end %>

  <div id = "responsible-users-list">
    <%= render actionable.responsible_users, actionable: actionable %>
  </div>

</div>