<div class = "actionable" id = "<%= actionable.id %>">
  <div class = 'meeting-item-header'>
    <% if !actionable.meeting.is_done %>
      <span class="placeholder">Drag members to assign</span><img id="arrow-left" src="/assets/arrow_left.png">
      <%= link_to((fa_icon 'times lg'), meeting_actionable_path(actionable.meeting, actionable), class: "delete_actionable", method: :delete, remote: true, data: {confirm: "Are you sure you want to delete?"}) %>
    <% end %>
  </div>
  <% if !actionable.meeting.is_done %>
    <div class = "editable" contenteditable = 'true'><%= actionable.content %></div>
  <% else %>
    <div class = "editable"><%= actionable.content %></div>
  <% end %>
  <ul class = "responsible-users-list">
    <%= render actionable.responsible_users, actionable: actionable %>
  </ul>

</div>