<div class='container'>
  <h1>Standup Profile<br> <small>
  <%= current_user.email %></small></h1>
  <% flash.each do |name, msg| %>
  	<%= content_tag :div, msg, class: "flash #{name}" %>
	<% end %>
  <%= button_to "Create a meeting", new_meeting_path, method: :get %>
  <h2>Upcoming Meetings</h2>
  <div class="cards">
  	<%= render @meetings.where('is_done = false').order('start_time').reverse %>
  </div>
  <h2>Closed Meetings</h2>
  <div class="cards">
  	<%= render @meetings.where('is_done = true').order('start_time DESC').reverse %>
  </div>
</div>
