<section id="explanation">
<a id="about_cats"></a>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Why Standup?</h2>
                <h3 class="section-subheading text-muted">Before. During. And after the meeting.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <%= image_tag('schedule2.png', class: "img-circle img-responsive") %>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Before</h4>
                                <h4 class="subheading">Schedule a meeting and invite people.</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Creating a meeting will automatically create a Google Calendar event and send an email notification to those invited.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <%= image_tag('cent2.png', class: "img-circle img-responsive") %>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Before</h4>
                                <h4 class="subheading">Give your two cents.</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Invitees can propose agenda items. This gives more power to the meeting body and gives the meeting organizer the opportunity to hear about unprecendented issues.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <%= image_tag('facebook38.png', class: "img-circle img-responsive") %>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Before</h4>
                                <h4 class="subheading">Support ideas.</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Invitees can propose agenda items. This gives more power to the meeting body and gives the meeting organizer the opportunity to hear about unprecendented issues.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <%= image_tag('issues.png', class: "img-circle img-responsive") %>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>During</h4>
                                <h4 class="subheading">Address the issues.</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Choose which agenda items to discuss and document a conclusion on each topic. Write specific actionables and assign them to meeting members.</p>
                            </div>
                        </div>
                        <li>
                            <div class="timeline-image">
                                <%= image_tag('mail.png', class: "img-circle img-responsive") %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>After</h4>
                                    <h4 class="subheading">We'll fill everyone in.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Invitees can propose agenda items. This gives more power to the meeting body and gives the meeting organizer the opportunity to hear about unprecendented issues.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <%= image_tag('administration1.png', class: "img-circle img-responsive") %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>After</h4>
                                    <h4 class="subheading">Remember what happened.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Have access to an archive outlining your meeting. Use this as a reference to jog your memory and hold others accountable.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image last-bubble">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>