<% if flash[:error] %>
  <%= flash[:error] %>
<% end %>

<div id='sign-in-banner'>
  <div class='container'>
    <div id='about'>
      <h1>Meetings suck.</h1>
      <p>
        <b>Standup</b> helps make them better. We believe collaborative preparation allows for more effective meetings. Share what you think should be discussed in advance and get clear feedback from other meeting members. Spend less time documenting and organizing information and more time solving problems.   
      </p>
    </div>
    <div id='sign-in'>
      <%= link_to image_tag('google.png', :onmouseover => "this.src='#{asset_path('google-hover.png')}'", :onmouseout => "this.src='#{asset_path('google.png')}'"), '/auth/google_oauth2' %>
    </div>
  </div>
</div>


<br><br><br>

<div id='how-it-works'>
  <div class='container'>

    <h2>Before The Meeting</h2>
    <div class='tile'>
      <%= fa_icon "calendar 4x" %>
      <h4>Schedule a meeting and invite people.</h4>
      <p>
        Creating a meeting will automatically create a Google Calendar event and send an email notification to those invited.
      </p>
    </div>
    <div class='tile'>
      <%= fa_icon "list-ol 4x" %>
      <h4>Give your two cents.</h4>
      <p>
        Invitees can propose agenda items. This gives more power to the meeting body and gives the meeting organizer the opportunity to hear about unprecendented issues.
      </p>
    </div>
    <div class='tile'>
      <%= fa_icon 'thumbs-up 4x' %>
      <h4>Support ideas.</h4>
      <p>
        Invitees can upvote any agenda item. Get a clear visual of how many other people want to discuss a certain topic.
      </p>
    </div>

    <h2>During The Meeting</h2>
    <div class='tile'>
      <%= fa_icon 'users 4x' %>
      <h4>Address the issues.</h4>
      <p>
        Choose which agenda items to discuss and document a conclusion on each topic. Write specific actionables and assign them to meeting members.
      </p>
    </div>

    <h2>After The Meeting</h2>
    <div class='tile'>
      <%= fa_icon 'envelope 4x' %>
      <h4>We'll fill everyone in.</h4>
      <p>
        When the meeting is over, a meeting summary will be emailed to all invitees, regardless of whether or not they made it to the meeting.
      </p>
    </div>
    <div class='tile'>
      <%= fa_icon 'archive 4x' %>
      <h4>Remember what happened.</h4>
      <p>
        Have access to an archive outlining your meeting. Use this as a reference to jog your memory and hold others accountable.
      </p>
    </div>

  </div>
</div>

