<h2><%= @meeting.title  %></h2>
<h3><%= Meeting.format_timestamp @meeting.start_time %></h3>

<br>

<h4>Agenda Topics</h4>
<ul>
  <% @meeting.agenda_topics.each do |agenda_topic| %>
    <li>
      <%= agenda_topic.content %>
      <br>
      <% if agenda_topic.conclusion %>
        <pre>   </pre>Conclusion: <%= agenda_topic.conclusion.content %>
      <% end %>
    </li>
  <% end %>
</ul>

<br>

<h4>Actionables</h4>
<ul>
  <% @meeting.actionables.each do |actionable| %>
    <li>
      <%= actionable.content %>
    </li>
  <% end %>
</ul>

<br>

<h4>Notes</h4>
<%= simple_format(@meeting.notes.gsub(/\n/, '<br>')) %>