<div id="<%= agenda_topic.id %>" class='agenda'>

  <div class = "meeting-item-header">

    <%= image_tag("#{agenda_topic.creator.image_path}", class: "google-circle-sm") %>
    <span class='name-tag'><%= agenda_topic.creator.full_name_or_email %></span>

    <% if !agenda_topic.meeting.is_done %>
      <%= link_to (fa_icon 'times lg'), meeting_agenda_topic_path(agenda_topic.meeting, agenda_topic), method: :delete, remote: true, data: { confirm: "Are you sure? This cannot be undone" } %>
    <% end %>
    <span class = 'vote'>
      <% if !agenda_topic.meeting.is_done %>
        <%= link_to (fa_icon 'thumbs-up lg'), meeting_agenda_topic_votes_path(agenda_topic.meeting, agenda_topic), remote: true, method: :post %>
      <% end %>
      <span id="vote"><%= agenda_topic.votes.count %></span>
    <span>

    <span id="agenda-voter-pictures">
      <%= render agenda_topic.votes %>
    </span>
  </div>

  <% if !agenda_topic.meeting.is_done %>
    <div class='content'><div class='editable edit_agenda' contenteditable='true'><%= agenda_topic.content %></div></div>
  <% else %>
    <div class='content'><span><%= agenda_topic.content %></span></div>
  <% end %>
  <div class = "agenda-bottom-border"></div>
  <% if @meeting.is_live %>
    <% if !agenda_topic.conclusion && !agenda_topic.meeting.is_done %>
      <%= link_to "What was decided?", meeting_agenda_topic_conclusions_path(agenda_topic.meeting, agenda_topic), remote: true, method: :post, class: "add_conclusion" %>
    <% elsif agenda_topic.conclusion %>
      <%= render partial: "conclusions/conclusion", locals: {conclusion: agenda_topic.conclusion}%>
    <% end %>
  <% end %>

</div>
