<div id="<%= agenda_topic.id %>" class='agenda'>
  <%= image_tag("#{agenda_topic.creator.image_path}", class: "google-circle-sm") %>
  <span class='name-tag'><%= agenda_topic.creator.full_name_or_email %></span>

  <% if !agenda_topic.meeting.is_done %>
    <span class='content'><div class='editable edit_agenda' contenteditable='true'><%= agenda_topic.content %></div></span>
  <% else %>
    <span class='content'><span><%= agenda_topic.content %></span></span>
  <% end %>

  <% if !agenda_topic.meeting.is_done %>
    <%= link_to "Delete", meeting_agenda_topic_path(agenda_topic.meeting, agenda_topic), method: :delete, remote: true, data: { confirm: "Are you sure? This cannot be undone" } %>
  <% end %>

  <% if !agenda_topic.meeting.is_done %>
    <%= link_to (fa_icon 'thumbs-up'), meeting_agenda_topic_votes_path(agenda_topic.meeting, agenda_topic), remote: true, method: :post %>
  <% end %>
  <span id="vote"><%= agenda_topic.votes.count %></span>

  <span id="agenda-voter-pictures">
    <%= render agenda_topic.votes %>
  </span>

  <% if @meeting.is_live %>
    <% if !agenda_topic.conclusion && !agenda_topic.meeting.is_done %>
      <%= link_to "Click to add conclusion", meeting_agenda_topic_conclusions_path(agenda_topic.meeting, agenda_topic), remote: true, method: :post, class: "add_conclusion" %>
    <% elsif agenda_topic.conclusion %>
      <%= render partial: "conclusions/conclusion", locals: {conclusion: agenda_topic.conclusion}%>
    <% end %>
  <% end %>

</div>
