<% publish_to "/meetings/#{@vote.agenda_topic.meeting.id}" do %>
  $("#<%= @vote.agenda_topic.id %> #vote").html('<%= @vote.agenda_topic.votes.count %>')
<% end %>

$("#<%= @vote.agenda_topic.id %>.agenda .vote a").replaceWith('<a data-method="delete" data-remote="true" href="<%= meeting_agenda_topic_vote_path(@vote.agenda_topic.meeting, @vote.agenda_topic, @vote) %>" rel="nofollow"><i class="fa fa-thumbs-up fa-lg"></i></a>')
$("#<%= @vote.agenda_topic.id %>.agenda .fa-thumbs-up").css('color', '#92CEE2')

