<!DOCTYPE html>
<html>
<head>
  <title>Meetings</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if logged_in? %>
  <div id="top-banner">
  </div>
  <header>
    <div class='container'>
      <span id='nav-bar-icons'>
        <%= link_to (fa_icon 'home 3x'), profile_path %>
      </span>
      <span id='nav-bar-greeting'>
        <p><%= current_user.first_name %></p>
        <%= image_tag current_user.image_path, id: 'header-google-img' %>
        <%= link_to (fa_icon 'sign-out 3x'), logout_path, method: :delete %>
      </span>
    </div>
  </header>
<% end %>

<%= yield %>

</body>
</html>